/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply scroll-smooth
    }
    body {
        @apply space-y-12
    }
    .header {
        background:
            linear-gradient(rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)),
            url(./media//image/background.png);
        @apply bg-center bg-no-repeat bg-cover
    }

    .gradient-text {
            background: -webkit-linear-gradient(#eee, #CF881D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}